@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');

// Colors: 
$primary: #e83e8c;
$white: #eee;
$bg-dark: #000;

// Typography: 
$benny-font: 'Love Ya Like A Sister', cursive;
$display1-size: 6rem;
$display2-size: 3.5rem;
$display3-size: 2.75rem;
$display4-size: 1.75rem;
$lead-font-size: 2rem;

// Spacing:
$form-group-margin-bottom: 1.5rem;

// Borders:
$enable-rounded:  false !default;

// This is where you can import other stylesheets or write your scss code
@import "../../node_modules/bootstrap/scss/bootstrap";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
}

h1,
h2,
h3,
h5 {
    font-family: $benny-font;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 5%;
    nav {
        background: linear-gradient($bg-dark, transparent 90%);
        .navbar-brand {
            img {
                padding-right: .5rem;
            }
        }
    }
}

.navbar-toggler {
    color: $primary;
}

.hero {
    background-image: url(../images/lidye-1Shk_PkNkNw-unsplash.jpg);
    background-size: cover;
    background-position: 0% 80%;
    width: 100%;
    height: 40vh;
    position: absolute;
    top: 0;
    .hero-body {
        color: $white;
    }
    a {
        padding: .5rem 0.75rem;
    }
}

#mission {
    position: relative;
    top: 40vh;
    scroll-margin-top: 4rem;
    .mission-cards {
        .row {
            .mission-card {
                .img-care {
                    width: 75px;
                    height: 75px;
                        img {
                            width: 70%;
                            height: 70%;
                        }
                }
                .img-plant {
                    width: 75px;
                    height: 75px;
                        img {
                            width: 70%;
                            height: 70%;
                        }
                }
                .img-heart {
                    width: 75px;
                    height: 75px;
                    img {
                        width: 70%;
                        height: 70%;
                    }
                }
            }
        }
    }
}

#news {
    position: relative;
    top: 40vh;
    scroll-margin-top: 0;
    .news-container {
        width: 100vw;
        overflow-x: auto;
        .card {
            height: 100%;
        }
    }
}

#contact {
    position: relative;
    top: 40vh;
    scroll-margin-top: 0;
    form {
        width: 50vw;
    }
}

footer {
    position: relative;
    top: 40vh;
    background: $bg-dark;
    height: 4rem;
    line-height: 4rem;
}

@include media-breakpoint-down(md) {

    .collapse {
        .navbar-nav {
            display: none;
        }
    }

    .navbar-toggler:focus ~ .collapse > .navbar-nav,   
    .navbar-toggler:hover ~ .collapse > .navbar-nav {
        display: block;
    } // somehow the bootstrap dropdown doesn't work. 
    // this is a work around, but you can't select anything from the dropdown, as it vanishes. Any tip how to fix this?

    header {
        height: 25vh;
    }

    .hero-body {
        h1 {
            font-size: 5rem;
            width: 50%;
        }
        p {
            font-size: 1.5rem;
        }
    }

    #mission {
        top: 20vh;
        h2 {
            font-size: $display3-size;
        }
        .row {
            .mission-card {
                h3 {
                    font-size: $display4-size;
                }
            }
        }
    }
    
    #news {
        top: 25vh;
        h2 {
            font-size: $display3-size;
        }
    }  
    
    #contact {
        top: 25vh;
        h2 {
            font-size: $display3-size;
        }
    }   

    footer {
        top: 25vh;
    }
}

@include media-breakpoint-down(sm) {

    header {
        height: 30vh;
    }

    .hero-body {
        h1 {
            font-size: $display3-size;
            line-height: 2.75rem;
            width: 60%;
        }
        p {
            font-size: 1rem;
        }
        a {
            font-size: 0.8rem;
            padding: 0.25 0.5rem;
        }
    }

    #mission {
        h2 {
            font-size: $display4-size;
        }
        .row {
            .mission-card {
                h3 {
                    font-size: 1.17rem;
                }
            }
        }
    }
    
    #news {
        h2 {
            font-size: $display4-size;
        }
    }  
    
    #contact {
        h2 {
            font-size: $display3-size;
        }
    }   
}